<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    
    <p>Hi there, what's up :]</p>
    
    <a asp-controller="Auth" asp-action="Login">Login</a> 
    | <a asp-controller="Auth" asp-action="Register">Register</a>
    | <a asp-controller="Auth" asp-action="Logout">Logout</a>
    
</div>
</body>
</html>