@model Mcrio.IdentityServer.On.RavenDb.Sample.MvcClient.Controllers.ViewModels.SuperSecretViewModel

<h2>Super Secret Page / Access to authenticated users only</h2>

<p>Use <a href="https://jwt.ms/" target="_blank">jwt.ms</a> to decode the tokens.</p>

@if (!string.IsNullOrEmpty(Model.Error))
{
    <p style="color:red">Error: @Model.Error</p>
}

<div style="overflow-wrap: break-word">
    <p>
        <strong>Access Token:</strong> @Model.AccessToken
    </p>

    <p>
        <strong>Refresh Token:</strong> @Model.RefreshToken
    </p>

    <p>
        <strong>Id Token:</strong> @Model.IdToken
    </p>
</div>


<p>
    <a asp-controller="Home" asp-action="CallApi">Call external api with Access Token</a>
</p>
<p>
    <a asp-controller="Home" asp-action="SuperSecret" asp-route-refreshAccessToken="true">Refresh tokens using the refresh token</a>
</p>